
@import '../../../../scss/colors';


.box-form-field{
  display: block;
  width: 100%;
  max-width: 300px;
}

.wrapper{
  height: 100vh;
  .background-register{
    background: url('../../../../assets/undraw_Address_re_yaoj.svg')no-repeat;
    background-size: contain;
    background-position: 100% 28%;
    .wrapper-register-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 360px;
      background: #ffffff6e;
      margin: 0 auto;
      border: 3px solid black;
      position: relative;
      top: 60px;
      box-sizing: content-box!important;
      padding: 20px 0px 20px 0px;
      h2{
        text-align: center;
        padding: 40px 0px;
        font-size: 2em;
        font-weight: 600;
      }
      form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        p{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .terms-checkbox{
          font-size: .6em;
          display: flex;
          align-self: baseline;
          padding-left: 30px;
          margin-bottom: 21px;
          flex-direction: column;
          height: 44px;
        }
        .form-register-btn{
          width: 100%;
          max-width: 300px;
          button:disabled {
            background-color: #b8b8b8af;
            cursor:default;
          }
          button{
            width: 100%;
            color: white;
            background: $rosado;
            text-transform: uppercase;
            padding: 5px 0px;
            cursor: pointer;
            font-size: 1.3em;
            mat-icon{
              padding-left: 20px;
              font-size: 1em;
              line-height: 23px;
            }
          }
        }
      }
    }

  }

}


.container-form{
  height: 100%;
}
