
@import '../../../../scss/colors';


.box-form-field{
  display: block;
  width: 100%;
  max-width: 300px;
}


.background-register{
  background: url('../../../../assets/undraw_Address_re_yaoj.svg')no-repeat;
  background-size: contain;
  background-position: center;
  .wrapper-register-form{
    background: #ffffff6e;
    width: 400px;
    margin: 0 auto;
    border: 3px solid black;
    position: relative;
    top: 40px;
    padding: 0px 20px 55px 20px;
    h2{
      text-align: center;
      padding: 40px 0px;
      font-size: 2em;
      font-weight: 600;
    }
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      p{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
      }
      .terms-checkbox{
        font-size: .8em;
        display: flex;
        align-self: baseline;
        padding-left: 30px;
        margin-bottom: 21px;
        flex-direction: column;
      }
      .form-register-btn{
        width: 100%;
        max-width: 300px;
        button:disabled {
          background-color: #b8b8b8af;
          cursor:default;
        }
        button{
          width: 100%;
          color: white;
          background: $rosado;
          text-transform: uppercase;
          padding: 5px 0px;
          cursor: pointer;
          font-size: 1.3em;
          mat-icon{
            padding-left: 20px;
            font-size: 1em;
            line-height: 23px;
          }
        }
      }
    }
  }

}


.container-form{
  margin-bottom: 120px;
}
