<div class="back-svg">
  <div class="register-background">
    <div class="wrapper">
      <header id="header-main">
        <app-header></app-header>
        <app-menu-nav></app-menu-nav>
      </header>
      <div class="container-form">
        <div class="background-register">
          <div  class="form-register-account wrapper-register-form">
            <h2>Registro de usuario</h2>
            <form  [formGroup]="formGroupRegister" class="form-containt" (ngSubmit)="submitRegister()">
                <p>
                  <mat-form-field class="box-form-field" appearance="outline">
                      <mat-label>Name</mat-label>
                      <input matInput type="text" placeholder="Introduce tu nombre" formControlName="name"  [value]="formGroupRegister.get('name')?.value | formNormalize:'capitalize'" >
                      <mat-hint align="end">Required *</mat-hint>
                      <mat-error *ngIf="formGroupRegister.get('name')?.touched && formGroupRegister.get('name')?.hasError('required')">Campo nombre es obligatorio</mat-error>
                      <mat-error *ngIf="formGroupRegister.get('name')?.dirty && formGroupRegister.get('name')?.hasError('maxlength')">Maximo 15 caracteres</mat-error>
                      <mat-error *ngIf="formGroupRegister.get('name')?.hasError('pattern')">El formato no es correcto</mat-error>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="box-form-field" appearance="outline">
                      <mat-label>Surname </mat-label>
                      <input matInput  type="text" placeholder="Introduce tus apellidos" formControlName="surname" [value]="formGroupRegister.get('surname')?.value | formNormalize:'capitalize'" >
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="box-form-field" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput #regEmail type="email" placeholder="Introduce un email" formControlName="email" [value]="formGroupRegister.get('email')?.value | formNormalize:'lowerCaseTrim'" >
                      <mat-icon matSuffix class="material-icons">email</mat-icon>
                      <mat-hint align="start">{{regEmail.value.length || 0}}/50 letras</mat-hint>
                      <mat-hint align="end">Required *</mat-hint>
                      <mat-error *ngIf="formGroupRegister.get('email')?.touched && formGroupRegister.get('email')?.hasError('required')">Campo email es obligatorio</mat-error>
                      <mat-error *ngIf="formGroupRegister.get('email')?.dirty && formGroupRegister.get('email')?.hasError('email')">Formato email no válido</mat-error>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="box-form-field" appearance="outline">
                    <mat-label>Password</mat-label>
                      <input matInput [type]=" hide ? 'password' : 'text' " matInput placeholder="Introduce un password" formControlName='password' [value]="formGroupRegister.get('password')?.value | formNormalize:'trim'">
                      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-hint align="end">Required *</mat-hint>
                      <mat-error *ngIf="formGroupRegister.get('password')?.touched && formGroupRegister.get('password')?.hasError('required')">Campo password es obligatorio</mat-error>
                      <mat-error *ngIf="formGroupRegister.get('password')?.dirty && formGroupRegister.get('password')?.hasError('minlength')">Minimo 6 caracteres</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field class="box-form-field"  appearance="outline">
                      <mat-label>Confirm Password</mat-label>
                      <input matInput [type]=" hidePass ? 'password' : 'text' "  matInput placeholder="Repite tu password" formControlName='confirmPassword' [value]="formGroupRegister.get('confirmPassword')?.value | formNormalize:'trim'">
                      <button type="button" mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-hint align="end">Required *</mat-hint>
                      <mat-error *ngIf="formGroupRegister.get('password')?.dirty && formGroupRegister.get('password')?.hasError('required')">Repite el password</mat-error>
                      <mat-error *ngIf="formGroupRegister.get('confirmPassword').errors?.mismatch==true">Password no coincide</mat-error>
                    </mat-form-field>
                </p>
                <div class="terms-checkbox">
                  <mat-checkbox  color="primary" type="checkbox" formControlName="terms">
                      Aceptar terminos legales
                  </mat-checkbox>
                  <mat-error *ngIf="formGroupRegister.get('terms')?.value == false">Acepta los terminos para continuar</mat-error>
                </div>
                <div class="form-register-btn">
                    <div class="box-btn">
                        <div class="container-btn">
                            <button type="submit" mat-raised-button [disabled]="formGroupRegister.invalid "
                                    class="btn-click">
                                    <span class="txt-btn">Registrarse</span>
                                    <mat-icon>send</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div *ngIf="errorMessage" class="error-message">
              {{ errorMessage }}
            </div>
          </div>
        </div>
      </div>
      <footer>
        <app-footer></app-footer>
      </footer>
    </div>
  </div>
</div>
