<div class="head-dialog">
  <h2 mat-dialog-title>Olvidó la contraseña</h2>
  <mat-dialog-actions class="box-close">
    <button class="mat-raised-button btn-close" type="button" mat-raised-button (click)="close()"><mat-icon>clear</mat-icon></button>
  </mat-dialog-actions>
</div>
<p class="info-dialog">Introduzca su correo electrónico y le enviaremos un link para restablecer su contraseña</p>
<form [formGroup]="data.formGroupDialog" class="form-dialog" (ngSubmit)="recoveryPassSubmit()">
  <p>
    <mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput #regEmail type="email" placeholder="Introduce tu email actual" formControlName="email" [value]="data.formGroupDialog.get('email').value | formNormalize:'lowerCaseTrim'">
            <mat-icon matSuffix class="material-icons">email</mat-icon>
            <mat-error *ngIf="data.formGroupDialog.get('email').touched && data.formGroupDialog.get('email').hasError('required')">Campo email es obligatorio</mat-error>
            <mat-error *ngIf="data.formGroupDialog.get('email').dirty && data.formGroupDialog.get('email').hasError('email')">Formato email no válido</mat-error>
        </mat-form-field>
      </mat-dialog-content>
    </p>
    <div class="btn-dialogs">
      <mat-dialog-actions class="box-recovery">
        <button class="btn-anima btn-recovery" type="submit"><mat-icon>email</mat-icon>Recuperar contraseña</button>
      </mat-dialog-actions>
    </div>
  </form>
  <div *ngIf="data.statusMessage" class="status-message" [ngClass]="data.statusStyle === 'error' ? 'error' : 'success'">{{ data.statusMessage }}</div>
