@import '../../../../scss/colors';

.head-dialog{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .box-close{
    margin: 0;
    min-height:0;
    display: flex;
    .btn-close{
      line-height: 40px;
      min-width:0;
      padding: 0px 10px;
    }
  }
  p{
    margin-top: 20px;
  }
}
.info-dialog{
  margin-top: 20px;
}
.mat-dialog-title{
  margin: 0;
}
.box-recovery{
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  .btn-recovery{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon{
      padding-right: 50px;
    }
  }
}


.btn-anima{
    width: 100%;
    font-size: 1.3em;
    padding: 5px 0px;
    background: $rosado;
    line-height: 40px;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    box-shadow: 7px 7px 0px #ff00629c;
    transition: all 600ms ease-in;
    overflow: hidden;
    border-radius: 1px;
    outline-width: 3px;
    outline-color: #e60059;
    outline-style: outset;
    text-shadow: 1px 1px 0px white;
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      background: $azul;
      position: absolute;
      top: 0;
      left: -105%;
      z-index: -1;
      transform: skew(-30deg);
      transition: all 500ms cubic-bezier(0.68, -0.32, 0.4, 1.63);
    }
     &:hover:after{
      left: -58%;
      transition: all 500ms cubic-bezier(0.84, -0.49, 0.22, 1.5);  }
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      background: $amarillo;
      z-index: -1;
      transform: skew(-30deg);
      position: absolute;
      top: 0 ;
      right: -105%;
      transition: all 500ms cubic-bezier(0.68, -0.32, 0.4, 1.63);
    }
     &:hover:before{
      right: -55%;
      transition: all 500ms cubic-bezier(0.84, -0.49, 0.22, 1.5);  }
    &:hover{
      transition: all 600ms ease-in-out;
      color: white;
      text-shadow: 1px 1px 0px black;
      box-shadow: 8px 8px 0px #ff006252;
      border-radius: 1px;
      outline-width: 3px;
      outline-color: #cc0551;
      outline-style: outset;
    }
  }
