@import '../../../scss/colors';

  .background-title{
    background: url("/assets/undraw_My_current_location_re_whmt.svg") no-repeat;
    background-size: 85%;
    background-position: 100% 37%;
    height: 100%;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    #main-frame{
      .title-page{
        height: 100%;
        width: 100%;
        max-width: 564px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: justify;
        padding: 100px 30px 10px 8%;
        h1{
          font-size: 3.5em;
          font-weight: 800;
          letter-spacing: 3px;
          padding-bottom: 35px;
          color: $rosado;
          text-shadow: 2px 0px 1px $azul, 3px 1px 1px $amarillo
        }
        span{
          font-style: italic;
          font-weight: 800;
          letter-spacing: 4px;
        }
        p{
          font-size: 1.4em;
          line-height: 35px;
          font-weight: 500;
        }
        p:last-child{
          font-size: 1.3em;
          margin-top: 20px;
        }
      }
      .service-utility{
        height: 100vh;
        margin-top: 35%;
        .title-utility{
          text-align: center;
          padding: 20px 10px 20px 10px;
          margin: 50px 0px 40px 0px;
          h2{
            font-size: 2em;

          }
          p{
            font-size: 1.2em;
          }
        }
        .background-utility{
          background: url('../../../assets/undraw_Traveling_re_weve.svg') no-repeat;
          background-size: contain;
          background-position: center;
          height: 400px;
        }
      }
    }
  }

