<div class="wrapper">
  <div class="background-title">
    <header id="header-main">
      <app-header></app-header>
      <app-menu-nav></app-menu-nav>
    </header>
    <main id="main-frame">
      <section class="title-page">
        <h1>Hylyf App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore amet sunt consectetur reprehenderit veniam esse veritatis dicta ratione quis vitae.</p>
      </section>
      <section class="service-utility">
        <div class="title-utility">
          <h2>Localiza a tus amigos</h2>
          <p>Encuentra y ten siempre localizados a tus allegados compartiendo vuestra ubicacion.</p>
        </div>
        <div class="background-utility"></div>
      </section>
    </main>
  </div>
</div>
