<div class="wrapper">
  <div class="background-title">
    <header id="header-main">
      <app-header></app-header>
      <app-menu-nav></app-menu-nav>
    </header>
    <main id="main-frame">
      <section class="title-page">
        <h1>Hylyf App</h1>
        <p><span>Have you lost your friends?</span></p>
        <p>Abre Hylyf App 📲, activa tu geolocalización 📍 y localizaremos a tu grupo cercano.
          Con Hylyf creareís grupos de amigos, donde podreís compartir y visualizar vuestras ubicaciones.✌✌✌</p>
      </section>
      <section class="service-utility">
        <div class="title-utility">
          <h2>Localiza a tus amigos</h2>
          <p>Encuentra y ten siempre localizados a tus allegados compartiendo vuestras ubicaciones.</p>
        </div>
        <div class="background-utility"></div>
      </section>
    </main>
  </div>
</div>
