@import '../../../../scss/colors';
.login-background{
  height: 100vh;
  width: 100%;
  background: url('../../../../assets/undraw_map_1r69.svg') no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  .containt-login{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    max-width: 960px;
    width: 100%;
    margin: 60px auto;
    padding: 0px 10px;
    flex-wrap: wrap;
    .containt-form-login{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 0px 70px 0px;
        form{
          width: 100%;
          button:disabled{
            background: #a7a7a7a9;
            cursor: default;
          }
          .lost-pass{
            font-size: 0.7em;
            position: relative;
            top: -10px;
          }
        }
        #box-btn-google{
          width: 100%;
          margin-top: 30px;
          .btn-google{
            font-size: 1em;
              img{
                width: 30px;
                height: 100%;
                margin-right: 15px;
                display: inline;
              }
          }
        }
    }
    .content-btn-regist{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 100px 0px 70px 0px;
        .info-register{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: justify;
          line-height: 30px;
          p{
            margin-top: 40px;
            font-size: 1.1em;
            max-width: 300px;
            width: 100%;
            font-weight: 500;
            text-shadow: 1px 1px 0px white;
          }
        }
        .box-btn-register{
          width: 100%;
          max-width: 300px;
         a{
          display: block;
          font-size: 1.3em;
          font-weight: 500;
          padding: 12px 0px;
          background: $amarillo;
          border-radius: 5px;
          color: white;
          border: 2px solid #fafafa;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase;
         }
        }
    }
  }
}
.title-info{
  h2{
    font-size: 2em;
    text-shadow: 1px 1px 0px white;
  }
}
.box-section-form{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
}
.back-svg{
  background: url('../.././../../assets/blob-scene-wave.svg') no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  background-origin: border-box;
  height: 100%;
  width: 100%;
}
