<div class="back-svg">
  <div class="login-background">
    <div class="wrapper">
    <header id="header-main">
      <app-header></app-header>
      <app-menu-nav></app-menu-nav>
    </header>
      <div class="containt-login">
        <div class="containt-form-login title-info">
          <div class="box-section-form">
            <h2>Iniciar session</h2>
            <form [formGroup]="formGroupLogin"  (ngSubmit)='submitLogin()'>
                <p>
                  <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput #regEmail  formControlName="email" placeholder="Introduce tu email" >
                      <mat-error *ngIf="formGroupLogin.get('email')?.touched && formGroupLogin.get('email')?.hasError('required')">Campo email es obligatorio</mat-error>
                      <mat-error *ngIf="formGroupLogin.get('email')?.dirty && formGroupLogin.get('email')?.hasError('email')">Formato email no válido</mat-error>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]=" hide ? 'password' : 'text' " formControlName="password" placeholder="Introduce tu password">
                    <mat-error *ngIf="formGroupLogin.get('password')?.touched  && formGroupLogin.get('password')?.hasError('required')">Campo password es obligatorio</mat-error>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </p>
                <span class="lost-pass">
                    <mat-hint>
                        Has olvidado la contraseña? Haz click <span class="recovery"><a (click)="recoveryPass()">aquí</a></span>
                    </mat-hint>
                </span>
                <div class="box-btn-login">
                  <button type="submit" class="btn-animation" mat-raised-button>Login</button>
                </div>
            </form>
            <div id="separator">
              <hr><span>o</span><hr>
            </div>
            <div id="box-btn-google"class="box-btn-login">
              <button type="button" class="btn-google btn-animation" (click)="submitLoginGoogle()" mat-raised-button>
                <img src="../../../../assets/google-logo.svg" alt="logo singin">
                <span>Continuar con Google</span>
              </button>
            </div>
            <div class="status-message" *ngIf="statusMessage"
               box-section-form [ngClass]="statusStyle === 'error' ? 'error' : 'success'">
              {{ statusMessage}}
            </div>
          </div>
        </div>
        <div class="content-btn-regist">
          <div class="box-section-form">
            <div class="info-register title-info">
              <h2>Crear una cuenta</h2>
              <p>Registrate y accede a tu perfil. Donde podrás crear grupos, ver tus ubicaciones y geolocalizarte a ti y a tus amigos.</p>
            </div>
            <div class="box-btn-register">
              <a [routerLink]="['/registro']">
                Registrarse
              </a>
            </div>
            <div #elementStatus class="status-message"
              [hidden]="!messageNavigation?.message"
              [ngClass]="{
                'error': messageNavigation?.style === 'error',
                'success': messageNavigation?.style === 'success'
              }">
              {{ messageNavigation?.message }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
