@import './scss/colors';
//colores basicos
$azul : #1ad5ff;
$rosado : #FF0063;
$amarillo: #FFEA19;
$carbon: #323036;
$google: #0285f8!important;

/************
*** keyframes ***
************/



/************
*** body ***
************/

html {
  body{
      height: 100%;
  }
}
*, :after, :before{
  box-sizing: border-box!important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: width 500ms, height 500ms;
  transition: width 500ms, width 500ms;
  letter-spacing: 1px;
  text-rendering: optimizelegibility;
}
body{
  line-height: 1.5;
  font-size: 14px!important;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  min-width: 360px!important;
  position: relative;
  color: $carbon;
}

.block{ display: block};

img{
  width: 100%;
  border: 0;
  display: block;
}
.logo{
  display: block;
  cursor: pointer;
  width: 120px;
}
/************
*** header ***
************/


/************
*** Genericos ***
************/




/****** BUTTON ***/

.wrapper{
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  #header-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 10px;
    margin: 20px 0px;
  }
  .btn-google{
    background: $google;
    box-shadow: 7px 7px 0px #0285f882!important;
    outline-color: white!important;
    &:hover{
      box-shadow: 8px 8px 0px #0285f847!important;
    }
  }
  .btn-animation{
    width: 100%;
    font-size: 1.3em;
    padding: 5px 0px;
    background: $rosado;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    z-index: 0;
    transition: all 600ms ease-in;
    overflow: hidden;
    box-shadow: 7px 7px 0px #ff00629c;
    border-radius: 1px;
    outline-width: 3px;
    outline-color: #e60059;
    outline-style: outset;
    text-shadow: 1px 1px 0px white;
    &::after{
      content: '';
      width: 100%;
      height: 100%;
      background: $azul;
      position: absolute;
      top: 0;
      left: -105%;
      z-index: -1;
      transform: skew(-30deg);
      transition: all 500ms cubic-bezier(0.68, -0.32, 0.4, 1.63);
    }
     &:hover::after{
      left: -58%;
      transition: all 500ms cubic-bezier(0.84, -0.49, 0.22, 1.5);  }
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: $amarillo;
      position: absolute;
      top: 5px!important;
      display: block!important;
      right: -105%;
      z-index: -1;
      transform: skew(-30deg);
      transition: all 500ms cubic-bezier(0.68, -0.32, 0.4, 1.63);
    }
    &:hover::before {
      right: -55%!important;
      transition: all 500ms cubic-bezier(0.84, -0.49, 0.22, 1.5);
    }
    &:hover{
      transition: all 600ms ease-in-out;
      color: white;
      text-shadow: 1px 1px 0px black;
      box-shadow: 8px 8px 0px #ff006252;
      border-radius: 1px;
      outline-width: 3px;
      outline-color: #cc0551;
      outline-style: outset;
    }
  }
  .mat-focus-indicator::before {
  left: auto;
  }
}



/************
*** MATERIAL ***
************/
.active-link {
  background-color: #79747433 !important;
  color: $rosado !important;
}

.mat-form-field{
  width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
  background: white;
  border-radius: 5px;
}

.mat-toolbar.mat-primary {
  background: $rosado;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: space-between!important;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  flex-direction: column!important;
}
.mat-card {
  opacity: 0.9;
}

/************
*** RESET ***
************/



/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul,li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:before,:after{
    margin: 0;
    padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
	background: none !important;
}
::-webkit-input-placeholder {
    color: rgb(0, 0, 0)!important;
}

a{
  text-decoration: none;
  color:black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

