@import '../../../scss/colors';

.menu ul{
  display: flex;
  min-width: 380px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  li{
    font-weight: 500;
    display: flex;
    a{
      color: black;
      cursor: pointer;
      text-shadow: 1px 1px 0px white;
      &:hover{
        border-bottom: 2px solid $rosado;
      }
    }
  }
  li:last-child{
   a{
    padding: 10px 20px;
    border-radius: 1px;
    border: 1px solid white;
    background: $rosado;
    color: white!important;
    transition: all 300ms ease-in;
    text-shadow: none;
    &:hover{
      border: 1px solid $rosado;
      background: white;
      color: $rosado!important;
      transition: all 300ms ease-out;
    }
   }
  }
}
